body{
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  background: #000 url('bg.jpg')center no-repeat;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.container .lead{
    color: #FFDA2F;
}
.jumbotron .container {
    max-width: 40rem;
    background: rgba(0,0,0, 0.5);
    color: #fff;
    padding: 20px;
}

.restra-heading{
    border-bottom: 1px solid #A32221;
    padding: 10px 0px;
    margin: 20px 75px;
}
.list-imagecontainer img{
    width: 99.5%;
    left: 0px;
    top: 2px;
    bottom: 0px;
    border-radius: 5px 5px 0px 0px
}
.list-item{
    border-radius: 5px;
    left: 0px;
    list-style: none;
    border: 1px solid #f0f0f0;
    box-shadow: 4px 2px 4px 0px #f0f0f0;
    top: 0px;
    bottom: 0px;
    border-radius: 5px;
}
.list-address i {
  padding-right: 5px;
}
.ribbon-wrapper-featured{
   height:  0px;
}
.ribbon-wrapper-featured .votes{
  font-size: 0.9em;
}
.ribbon-wrapper-featured .ribbon-featured{
    background: #5DB023;
    opacity: 40;
    text-align: center;
    color: #fff;
    font-family: "helvetica neue", Helvetica, Arial, sans-serif;
    position: relative;
    left: 0px;
    top: -139px;
    width: 60px;
    font: 700 11px sans-serif;
    padding: 7px 0px;
}
.listing-itemband{
    height: 0px;
    text-align: left;
}
.list-subdetailcontainer{
   border-top: 1px solid #f3f3f3;
   padding-bottom: 5px;
}
.list-subdetailcontainer .res-rating-text{
  background: #ff0000;
  width: 40px;
  padding: 2px 5px;
  margin-left: 11px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
}
.listingitem-subelement .res-price{
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
}
.listing-item-wrapper{
    padding: 0px 10px;
}
.listing-itemband .list-pricecontainer{
   background: #f0f0f0;
   opacity: 30;
   filter: opacity(0.8);
   display: inline-flex;
   position: relative;
   left: 0px;
   top: -29px;
   color: #000;
   width: 100%;
}
.pointfinderlisttermsgr{
    list-style: none;
}
 .res-price{
    padding: 5px 29px 5px 10px;
    font-size: 14px;
    text-transform: capitalize;
} 
.res-price a{
    color: #000 !important;
    left: 0px;
}
.list-itemtitle{
    font-size: 17px;
    font-weight: bold;
}
.list-detailcontainer .list-itemdetails{
    padding: 0px 5px;
}
.list-detailcontainer .list-itemdetails .list-address{
    font-size: 12px;
    padding: 0px;
}
.list-customfields .listingitem-subelement{
    display: inline-flex;
    font-size: 12px;
    padding: 0px 5px;
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}